/* Estilizações globais */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@media(max-width: 1080px){
    html {
        font-size: 93.75%;
    }
}
@media(max-width: 720px){
    html {
        font-size: 87.5%;
    }
} 
/* Estilizações do login */
.overlay {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
    height: 100vh;

	position: absolute;

	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), 
	url(../img/logo.jpg);
	  
	background-position: center;
	background-repeat: no-repeat;

	font-family: "Inter", sans-serif;
}
.container {
	display: flex;
	width: 800px;
	height: 400px;

	background: rgba(0, 0, 0, 0.8);
}
.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.left {
	text-align: center;
	display: grid;
	background: rgba(0, 245, 247, 0.8);
}
.left > img {
	width: 20rem;
	height: 6rem;
	margin-top: 4.375rem;
}
.left > strong {
	font-size: 1.5rem;
	font-weight: 600;
	color: #DCDDE0;

}
.copyright {
	text-align: center;
	margin-top: 9.375rem;
}
.copyright > div > strong {
	font-size: 0.8rem;
	color: #DCDDE0;
}
.right {
	display: grid;
    grid-template-columns: 1fr;
}
.right > strong {
	color: #DCDDE0;
}
.right p {
	text-align: center;
}
.right > img {
	height: 6.25rem;
	margin-top: 2.5rem;
	margin-left: 3.123rem;
	align-items: center;
	justify-content: center;
	display: flex;
}
.right  > strong {
	font-size: 1.5rem;
	font-weight: 600;
	padding-left: 44%;
}
.right > form {
	padding-bottom: 15px;
}
.textbox {
	margin-top: 0.5rem;
}
#user,
#password {
	width: 24.5rem;
	height: 2.5rem;
	border: none;
	background: #2b2b2bb3;
	padding: 0 0.9375rem;
	font-size: 1rem;
	outline: none;
	color: #f4f4ff;
}
.textbox input:focus + .check-message,
.textboxregister input:focus + .check-message-register {
	display: none;
}
.login-btn {
	width: 30%;
	height: 40px;
	margin-top: 16px;
	background: rgba(25, 25, 25, 0.7);
	border: none;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 700;
	transition: 0.3s linear;
}
.login-btn.active,
.register-btn.active {
	background: rgba(0, 245, 247, 0.8);
	color: #fff;
}
.login-btn.active:hover,
.register-btn.active:hover {
	opacity: 0.7;
}
.hidden {
	display: none;
}
.textbox > .check-message {
	position: absolute;
	padding-bottom: 10px;
	right: 1rem;
	color: #ffff00 !important;
	transform: translateY(-50%);
}
.erro {
	color: #ffff00;
	font-size: 1rem;
	margin-bottom: -12px;
}
/* menu das telas */
.container-fluid {
	font-family: "Inter", sans-serif;
}
.NavBarContainer{
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 50px;
    padding-right: 50px;
	background: transparent;
	position: absolute;
}
.NavLogo{
    justify-self: flex-start;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    
}
.NavLogo > p {
	color: #DCDDE0;
	font-size: 1.2rem;
	font-weight: 700;
	padding-left: 15px;
	margin-top: 20px;
}
.NavLogo > img {
	width: 35px;
}
.navbar-nav .nav-link{
	text-align: center;
	color: #DCDDE0 !important;
}
.NavLink {
	font-size: 1.2rem;
	font-weight: 800 !important;
}
.navbar-toggler {
	background-color: #DCDDE0 !important;
}
.NavItem {
	height: 38px;
    border-bottom: 3px solid transparent;
}
.NavItem:hover {
	border-bottom: 3px solid #fff;
}
.banner {
	display: flex;
	height: 16rem;

	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), 
	url(../img/bannerIf.jpg);
	background-repeat: no-repeat;
	background-position: center;

}
/* corpo das telas */
.containerTabela {
	display: flex;
	background-color: #DCDDE0 !important;
}
.card-image .card {
	min-height: 0;
}
.login-form h6 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;
}

#left {
	margin-bottom: 37px;
}
.textbox {
	width: 100%;
	height: 50px;
	position: relative;
	margin-top: 15px;
}
.textbox input {
	width: 100%;
	height: 50px;
	border: none;
	background: rgba(43, 43, 43, 0.7);
	padding: 0 15px;
	font-size: 16px;
	outline: none;
	color: #f4f4ff;
}
.textbox input:focus {
	background: rgba(72, 72, 68, 0.6) !important;
}
.check-message {
	position: absolute;
	top: 70%;
	right: 10px;
	color: #fff;
	transform: translateY(-50%);
}
.textbox input:focus + .check-message,
.textboxregister input:focus + .check-message-register {
	display: none;
}
.options {
	margin-top: 15px;
	color: #f4f4f4;
	overflow: hidden;
	font-size: 14px;
}
.checkbox {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #484848;
	margin-right: 15px;
	position: relative;
}
.checkbox input {
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.checked {
	position: absolute;
	left: 8px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid #fff;
	border-width: 0 1px 1px 0;
	transform: rotate(45deg);
	display: none;
}
.checkbox input:checked + .checked {
	display: block;
}
.options a {
	color: #f4f4f480;
}
.login-btn {
	width: 30%;
	height: 40px;
	margin-top: 30px;
	background: rgba(25, 25, 25, 0.7);
	border: none;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 700;
	transition: 0.3s linear;
}
.login-btn.active,
.register-btn.active {
	background: #037bee;
	color: #fff;
}
.login-btn.active:hover,
.register-btn.active:hover {
	opacity: 0.7;
}
.hidden {
	display: none;
}
/* ----------- Tela cadastro -----------  */
.container-register {
	display: flex;
}
/* criado*/
.alert-erro {
	background-color: rgba(255, 0, 0, 0.7);
	padding: 20px 40px;
	min-width: 320px;
	position: absolute;
	right: 0px;
	overflow: hidden;
	border-radius: 4px;
	border-left: 8px solid #f00e0e;
	color: white;
}
.alert-erro .fa-exclamation-triangle {
	position: absolute;
	left: 18px;
	top: 50%;
	transform: translateY(-50%);
}
.alert-erro .msg {
	padding: 0 12px;
	font-weight: 700;
}

.alert-acerto {
	background-color: rgba(50, 205, 50, 0.7);
	padding: 20px 40px;
	min-width: 320px;
	position: absolute;
	right: 0px;
	overflow: hidden;
	border-radius: 4px;
	border-left: 8px solid #238e23;
	color: white;
}
.alert-acerto .fa-exclamation-triangle {
	position: absolute;
	left: 18px;
	top: 50%;
	transform: translateY(-50%);
}
.alert-acerto .msg {
	padding: 0 12px;
	font-weight: 700;
}
/* ate aqui*/
.form-register {
	width: 290px;
	padding: 20px;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin-top: 1.9rem;
}
.form-register h3 {
	text-align: center;
	font-weight: 700;
}
.textboxregister label,
input,
select {
	display: block;
	outline: none;
	line-height: 25px;
	width: 100%;
}
.textboxregister {
	position: relative;
}
.textboxregister input {
	padding: 0 15px;
}
.check-message-register {
	position: absolute;
	top: 75%;
	right: 10px;
	transform: translateY(-50%);
	/* add */
	color: red;
	font-weight: 700;
}
.register-btn {
	height: 40px;
	margin-top: 30px;
	background: rgba(25, 25, 25, 0.7);
	border: none;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 700;
	transition: 0.3s linear;
}
#right {
	margin-top: 30px;
}
tr {
	line-height: 30px;
}
#title-register {
	font-weight: bold;
	width: 200px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	text-align: center;
	font-size: 1rem;
}
a {
	text-decoration: none;
	padding: 5px;
	margin: 0px 5px;
	color: #000;
}
td {
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.3);
}
#delete {
	color: #000;
}
#to-edit:hover {
	color: #008000;
	font-weight: 600;
}
#delete:hover {
	color: #ff0000;
	font-weight: 600;
	cursor: pointer;
}
.pagina {
	text-align: center;
	padding-top: 20px;
	color: #f7765f;
	font-weight: 700;
	margin-bottom: 30px;
}
.relatorio {
	text-align: center;
}
.relatorio a {
	color: red;
	font-size: 24px;
}
.modal-content {
	background: #DCDDE0;
}
.modal-body > p {
	color: #ff0000;
}
.modal-footer {
	margin-bottom: 10px;
}
.relatorio {
	text-align: center;
	color: #000 !important;
}
.relatorio > p {
	color: #000 !important;
}
.relatorio a {
	color: red;
	font-size: 24px;
}
.Copy {
	align-items: center;
	justify-content: center;
	display: flex;
	background: rgba(0, 0, 0, 0.8);
	height: 50px;

	left: 0;
	bottom: 0;
	width: 100%;
}
.Copy > div > div > strong {
	font-size: 1rem;
	color: #DCDDE0 ;
}
/* responsividade das telas */
@media(max-width: 350px){
	.right > img {
		margin-left: 1.2rem;
	}
	#user,
	#password{
		margin-top: 0.5rem;
		padding: 0 auto;
		width: 21rem;
	}
	.right  > strong {
		padding-left: 43%;
	}
}
@media(max-width: 400px){
	.check-message {
		right: 1.7rem;
	}
	.right > img {
		margin-left: 2.5rem;
	}
	#user,
	#password{
		margin-top: 0.5rem;
		padding: 0 auto;
		width: 24.5rem;
	}
	.right  > strong {
		padding-left: 41%;
	}
}
@media(max-width: 500px){
	.check-message {
		right: 2.5rem;
	}
	.container {
		width: 600px;
		height: 350px;
	}
	#user,
	#password{
		margin-top: 0.5rem;
		padding: 0 auto;
		width: 27.5rem;
	}
	.right  > strong {
		padding-left: 42%;
	}
}
@media(max-width: 600px){
	.right > img {
		margin-left: 4.3rem;
	}
}
@media(max-width: 700px){
	.form {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.left {
		opacity: 0; /* Esconde no desktop. */
    	height: 0;
	}
	.left > img {
		opacity: 0; /* Esconde no desktop. */
    	height: 0;
	}
	.copyright {
		opacity: 0; /* Esconde no desktop. */
    	height: 0;
	}
	.copyright > div > strong{
		opacity: 0; /* Esconde no desktop. */
    	height: 0;
	}
}
@media (min-width: 768px){
	.Table {
		max-width: 100%;
	}
	#right {
		margin-top: 30px;
		width: 0;
		height: 0;
	}
}
@media (max-width: 800px){
	.NavItem:hover {
		width: 100%;
		border-bottom: none;
	}   
	.right > img {
		margin-left: 1.6rem;
	}
	.container {
		width: 700px;
		height: 400px;
	}
	.container-register {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	#right {
		margin-top: 0;
	}
	#user,
	#password{
		margin-top: 0.5rem;
		padding: 0 auto;
		width: 21rem;
	}
	.right  > strong {
		padding-left: 45%;
	}
}
@media(max-width: 911px){
	.NavBarContainer{
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media(max-width: 1440px){
	.tabelaBaixas{
		max-width: 850px;
	}
	#right {
		margin-top: 30px;
		width: 900px;
		height: 40vw;
	}
}
